nav {
	background-color: #e8e8e8;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	text-align: right;

}

li {
	display: inline-block;
	padding: 15px;
}

body {
	background-color: #0c0d0d;
}

#ex1 {
	width: 55%;
	height: 50%;
	margin-left: 6.5%;

}

#ex2 {
	width: 55%;
	height: 50%;
	margin-right: 6.5%;

}

}