@import url("typography.css");

@import url("images.css");

@import url("layout.css");

@media (max-width:768px) {

.logo {
		width:180px; 
		height:auto;
	}

li {
	font-family: 'Rubik-Medium';
	font-size: 19px;
}

nav {
	background-color: #e8e8e8;
	display: inline-block;
	width:100%;
	overflow: auto;
}

.example {
	width: 95%;
	margin-left: 0%;
}

.img-holder {
	display:inline-block;
	margin-left: 0%;
	margin-right: 0%;
	width: 49%;
}


figcaption {
	width:80%;
	text-align: center;
	color: #e8e8e8;
	margin-left: 10%;
	font-size: 15px;

}


}