@font-face {
  font-family: "Mukta-Regular";

  src: url("fonts/Mukta-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

li {
	font-family: 'Mukta-Regular';
	font-size: 25px;
}