@font-face {
  font-family: "Rubik-Medium";

  src: url("fonts/Rubik-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mukta-Regular";

  src: url("fonts/Mukta-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Bold";

  src: url("fonts/Rubik-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

li {
	font-family: 'Rubik-Medium';
	font-size: 25px;
}

figcaption {
	font-family: 'Rubik-Bold';
	font-size: 20px;
}

#aboutheader {
	font-family: 'Rubik-Bold';
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #e8e8e8;
	font-size: 250%;

}

#bodycopy {
	column-count: 2;
	background-color: #e8e8e8;
	font-family: 'Mukla-Light';
	width:60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-right: 9%;
	padding-left: 9%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}





a:link {
    text-decoration: none;
}

a:active {
    color: #595959;
}

a:visited {
    color: #757575;
}