header {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	background-color: #A083B0;
	padding: 3%
}


body { 
	margin: auto;
	width: 40%;
	padding: auto;
	background-color: #A083B0;

}

button {
	padding: 1%;
	margin-top: 5%;
	font-size: 15px;
}

img {
	width: 85%;
}