main {
	width: 900px;
	margin: 0px auto;
	background-color: chartreuse;
}

.fullcard {
	width: 45%;

}

.fullcard img {
	width: 100%;
}

.fullcard:first-child {
	float:left;
}

.fullcard:nth-child(2) {
	float: right;
}

.clearfix {
	clearfix: both;
}